<p style="color: green"><%= notice %></p>

<h1>Employees</h1>

<div id="employees">
  <% @employees.each do |employee| %>
    <%= render employee %>
    <p>
      <%= link_to "Show this employee", employee %>
    </p>
  <% end %>
</div>
<%= button_to "Connect Gmail","auth/google_oauth2",method: :get, data: {turbo: "false"}%>
<%= link_to "New employee", new_employee_path %>
